.save-person-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px;
    border-radius: 5px;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-label {
    font-size: var(--font-medium-size);
}

.form-input {
    width: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: var(--font-medum-size);
}

.buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: var(--font-medium-size);
    margin-bottom: 5px;
    width: 200px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px 10px;
}