<table class="ardi-table">
  <thead>
    <tr class="row header">
      <th class="cell header">Name</th>
      <th class="cell header">Surname</th>
      <th class="cell header">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row body unpair">
      <td class="cell body">Juan</td>
      <td class="cell body">Martinez</td>
      <td class="cell body">juan.martinez@mail.com</td>
    </tr>
    <tr class="row body pair">
      <td class="cell body">Pablo</td>
      <td class="cell body">Hernandez</td>
      <td class="cell body">pablo.hernandez@mail.com</td>
    </tr>
    <tr class="row body unpair">
      <td class="cell body">Maria</td>
      <td class="cell body">Gonzalez</td>
      <td class="cell body">maira.gonzalez@mail.com</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="row footer">
      <td class="cell footer" colspan="3">
        <button class="btn first">First</button>
        <button class="btn prev">Previous</button>
        <select class="btn size">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        <button class="btn next">Next</button>
        <button class="btn last">Last</button>
      </td>
    </tr>
  </tfoot>
</table>