<div
class="notice"
[ngClass]="{'error': isError, 'warning': isWarning, 'notification': isNotification}"
*ngIf="show"
[@openCloseNotice]>
    <button type="button" class="close" (click)="close()">
        <img src="assets/close-button.png" alt="close-button" class="close-button">
    </button>
    <div class="notices-content">
        <div class="title" *ngIf="isError">Error: </div>
        <div class="title" *ngIf="isWarning">Warning: </div>
        <div class="title" *ngIf="isNotification">Note: </div>
        <div class="message">
            {{message}}
        </div>
    </div>
</div>